@import "utils/normalize.css"
@import "utils/mixins.scss"
@import "utils/vars.scss"
@import "utils/fonts.scss"

*
    margin: 0
    padding: 0

.wrapper
    margin: 0 auto
    width: 80%
    text-align: center

h1
    margin-top: 20px
    font-family: 'Be Vietnam', sans-serif
    font-size: rem(20px)
    color: blue       
        